@using AzureNaming.Tool.Helpers
@using AzureNaming.Tool.Models
@using AzureNaming.Tool.Services
@using Microsoft.JSInterop
@inject IAdminLogService _adminLogService

<a class="twitter-timeline" data-height="400" data-theme="dark" href="https://twitter.com/AzureNamingTool?ref_src=twsrc%5Etfw">Tweets by AzureNamingTool</a>

@code {
    [Inject]
    public IJSRuntime? JsRuntime { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            try
            {
                var targetUrl = "//platform.twitter.com/widgets.js";
                if (GeneralHelper.IsNotNull(JsRuntime))
                {
                    await JsRuntime.InvokeVoidAsync("loadJs", targetUrl);
                }
            }
            catch (Exception ex)
            {
                _adminLogService.PostItem(new AdminLogMessage() { Title = "ERROR", Message = ex.Message });
            }
        }
    }
}